@charset "UTF-8";

.star-ratings{
	color : #aaa9a9;
	position : relative;
	unicode-bidi: bidi-override;
	width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
	}


	.star-ratings-fill{
	color : #fff58c;
	padding : 0;
	position: absolute;
	z-index : 1;
	display : flex;
	top : 0;
	left : 0;
	overflow : hidden;
	  -webkit-text-fill-color: gold;
	}

	.star-ratings-base{
	z-index : 0;
	paading : 0;
	}
	