
.bg-dark {
  background-color: #343a40 !important;
}

.bg-ivory {
  background-color: #eee !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-gold {
  background-color: #fff7cc !important;
}

.btn-primary {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-primary:hover {
  color: #fff;
  background-color: #2e59d9;
  border-color: #2653d4;
}

.link-white {
	color: #ffffff;
}

.link-black {
	color: #545454;
}

.card {
	display: block !important;
	border-radius: 20px !important;
	border: solid #fafafa !important;
	padding: 30px;
}

.card-img-top {
	position: unset !important;
	border-radius: 10px !important;
}

.card a {
	font-size: 32px;
	padding: 0 5px 0 5px;
}

.card .contents {
	padding-left: 120px;
}

.card .title {
	border-radius: 0 0 20px 0;
	margin-top: 0px;
	margin-bottom: 5px;
}

.card .separator {
	width: 600px;
	height: 4px;
	background-color: #fafafa;
	margin-bottom: 5px;
}

.card .jg-font.title a {
	font-size: 32px;
}

.mainbar{
	height:450px;
}

.mainbar .title {
	margin-top:120px !important;
}

.sectionBody{
	    padding-top: 0px !important;
}

.headerText{
	position: relative;
    top: -50px;
}

.myPageHeader{
	height : 220px;
}

.loginImage{
  background: url("https://images.unsplash.com/photo-1636202493079-22e07050b2ac?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzNzkwMTg3OQ&ixlib=rb-1.2.1&q=80&w=1080");
  background-position: center;
  background-size: cover;
}

.card-img-top{
	background-color : white;
}

.commentInput{
	width:400px;
}

.relatedStudyH2{
	text-align : center;
}

.relatedImg{
	margin : auto;
	width: 300px;
	height: 250px;
}

.row{
	padding-bottom:30px;
}

.page-link{
	color:black !important;
}

.mainText{
	font-weight: 900 !important;
    font-size: 33px !important;
    color: midnightblue;
    margin-top: -20px;
}

.small{
	font-weight: 700 !important;
	font-size: 15px !important;
	color:midnightblue;
}
.text-light{
	font-size:3px !important;
}

.form-control form-control-user{
	margin-top:10px;
}

.explain{
	margin-left : 60px !important;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.form-check-input{
	position: relative;
    top: 8px;
}
.checked form-check-label{
	font-size: 13px !important;
    position: relative;
    font-family: 'Jeju Gothic', sans-serif !important;
}

#checkboxNoLabel{
	left: -30px;
    position: relative;
}
.btn btn-info d-flex justify-content-start{
	left: -50px;
    position: relative;
    top: -8px;
}

#selectCategoryBtn{
	position : relative !important;
	left : -50px !important;
	top: -5px !important;
}

.table sContent th{
 	width: 90px;
}   

.sContent{
	left: -10px !important;
    position: relative !important;
	width: 800px !important;
} 

.jgFontTd{

	font-family: 'Jeju Gothic', sans-serif;
	
    
}

.jgFontContent{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 35px;
	font-weight: 900;
    
}

.table th{
	width: 120px;
    position: relative;
    
}

.jg-fontTh{
	font-family: 'Jeju Gothic', sans-serif;
	font-size : 23px;
	color: dimgrey;
	margin-top : 10px;
	text-align:center;
}

.contentDiv{
	margin-top: 20px;
}

.JoinTable td,.JoinTable th{
	border: ridge !important;
	border-style:groove;
}

.JoinTable th{
	width:120px !important;
	border-left: solid 0px !important;
	padding-top: 10px;
}

.JoinTable td{
	border-right: solid 0px !important;
	padding-top: 8px;
}


/* .badgeCommon{ */
/* 	height:35px; */
/* 	width:70px; */
/* 	display: inline-block; */
/*     padding: 0.25em 0.4em; */
/*     font-size: 15px; */
/*     font-weight: 700; */
/*     line-height: 1; */
/*     text-align: center; */
/*     white-space: nowrap; */
/*     vertical-align: baseline; */
/*     border-radius: 0.25rem; */
/*     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
/* } */

.badgeCommon{
    font-size: 20px;
}
	
.modifyEditUser{
	width: 60px;
}

.editUserTable tr{
	height : 50px;
}

.font-white {
	color:#ffffff;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0) !important;
}

.recruit{
	font-size:20px;
}

.card-table {
	width: 865px;
	color: #707070;
}

.card-table tr {
	height: 40px;
	vertical-align: baseline;
}

.card-table tr.border-bottom {
	border-bottom: solid 2px #fafafa !important;
}

.card-table th {
	width: 160px;
}

.card-table td {
	font-weight: 400;
	font-size: 18px;
}

.form-control-user {
	font-size: 18px !important;
	border-radius: 10rem !important;
	padding: 1.5rem 1rem !important;
	width: 90% !important;
}