.card {
	padding: 0px;
}

.pl-200px {
	padding-left: 200px;
}

.pl-400px {
	padding-left: 400px;
}

.mw-1600px-i {
	max-width: 1600px !important;
}

.imageCard {
	max-width: 500px !important;
}

.card .separator {
	width: 870px !important;
	margin-bottom: 15px;
}

.card-table {
	width: 870px;
	color: #707070;
	font-family: 'Jeju Gothic', sans-serif;
	font-size : 25px;
	margin-top : 10px;
	margin-bottom: 20px;
}

.card-table tr {
	height: 80px;
}

.card-table tr.border-bottom {
	border-bottom: solid 4px #fafafa !important;
}

.card-table th {
	width: 200px;
}

.card-table td {
	font-weight: 600;
}

.joinButtonGroup .btn {
	height: 50px;
}

.btn-darkcyan {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

#btnShowStudyMember{
    height: 200px;
    position: relative;
}


.join {
	float:right;
}

.join button {
	margin-right: -75px;
    padding: 20px;
    font-size: 25px;
    font-weight: 600;
    width: 300px;
}

.inputComment{
	width: 1400px;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: 38px;
}

.corner-ribbon.sticky{
  position: relative;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-ribbon{
	color:white;
}

.corner-ribbon.top-right{
    position: absolute;
	top: 25px;
    right: -10px;
    width: 90px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 10;
    text-align: center;

  letter-spacing: 1px;
}

.detailCorner-ribbon.top-right{
    position: absolute;
    top:0px;
    right: -35px;
    width: 90px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 10;
    text-align: center;

  letter-spacing: 1px;
}
.detailCorner-ribbon.red{background: #e43;}
.corner-ribbon.red{background: #e43;}