@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.jg-font{

	font-family: 'Jeju Gothic', sans-serif;
	font-size : 25px;
	font-color : white;
	margin-top : 10px;
}

 ul.mylist, ol.mylist {
    list-style: none;
    margin: 0px;
    padding: 0px;
  
    max-width: 1000px;
    width: 100%;
}
  
ul.mylist li, ol.mylist li {
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    /* border: 1px solid #efefef; */
    font-size: 12px;
    cursor: pointer;
    
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
    text-align : center;
    color : white;
}


ul.mylist li:hover,
ol.mylist li:hover {
    background-color: #f6f6f6;
}

.insertUserProfile{
	color: white;
}

.navbar-brand{
	font-size: 30px !important;
    font-weight: 900 !important;
}

.nav-item{
	font-size: 18px;
}
